body {
  overflow: hidden;
}

#sidebar {
  max-height: 100vh;
}

#channel-list {
  max-height: 100%;
  overflow-y: auto;
}

.channel-item {
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.channel-item:hover, .channel-item.active {
  background-color: rgba(255, 255, 255, 0.1);
}

#epg-info h5, #epg-info p {
  margin: 0;
}

#epg-programmes div {
  margin-bottom: 0.5rem;
}
